<p>
    Une application web de gestion de comptes bancaires qui permet aux personnels d’une banque :
    
    <ul>
        <hr>
      <li>Gestion des clients : L'application doit permettre la gestion des clients, incluant la création, la consultation et la modification des informations personnelles.</li>
      <hr>
      <li>Gestion des comptes bancaires : L'application doit permettre la création, la consultation, la modification et la suppression des comptes bancaires des clients.</li>
      <hr>
      <li>Catégorisation des comptes : Les comptes bancaires doivent être catégorisés en comptes courants et comptes épargne, avec des fonctionnalités spécifiques pour chaque type.</li>
    </ul>

    
  
  